<nav class="navbar  navbar-primary panel panel-primary" role="navigation">
    <div class="container-fluid dropdown">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">江苏省保险中介行业协会</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin">控制台首页</a></li>
                <li  role="presentation" class="dropdown">
                    <a href="/admin" class="dropdown-toggle" data-toggle="dropdown">更多功能<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">

                        <li><a href="/admin/admin-pagesetting">页面设置</a></li>
                        <li><a href="/user-form">会员管理</a></li>
                        <li><a href="/admin/adminintro">协会简介</a></li>

                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>