<div class="panel panel-default">
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked" role="tablist" >
            <li role="presentation" class="active"><a href="/user-form">会员管理</a></li>
            <li role="presentation"><a href="/admin/admin-pagesetting">页面设置</a></li>
            <li role="presentation"><a href="#">协会简介</a></li>
            <li role="presentation"><a href="#">协会公告</a></li>
            <li role="presentation"><a href="#">行业要闻</a></li>
            <li role="presentation"><a href="#">会员登入</a></li>
            <li role="presentation"><a href="#">政策法规</a></li>
            <li role="presentation"><a href="#">保险知识</a></li>
            <li role="presentation"><a href="#">教育培训</a></li>
            <li role="presentation"><a href="#">考试认证</a></li>
        </ul>
    </div>
</div>