<div class="homeheader">

    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">欢迎<%= user.name%>登入江苏省保险中介行业协会</a>
            </div>
        </div>
    </nav>

</div>