
<%- include('header') %>
<div class="admin-header"><%- include('admin/adminheader') %></div>

<div class="admin-wrapper">

    <div class="admin-sider">
        <div><%- include('admin/siderbar') %></div>
    </div>
</div>
<%- include('footer') %>
