<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
    <link rel="stylesheet" href="/stylesheets/weui.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrapValidator.min.css"/>
    <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--<script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="//cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
    <script type="text/javascript" src='/javascripts/bootstrapValidator.min.js'></script>
    <script type="text/javascript" src='/javascripts/bootstrap.js'></script>

</head>
<body ontouchstart class="body">
