<%- include('header') %>
<div class="homeheader">
    <nav class="navbar nav-width navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">江苏省保险中介行业协会</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">首页</a></li>
                    <li><a href="/login">登入</a></li>
                    <li><a href="/registry">注册</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<%- include('mobile/homecarousel') %>
<div class="visible-xs-block">
    <div class="container">
        <div class="weui_grids">

            <a href="/home" class="weui_grid">
                <div class="weui_grid_icon one">
                    <i class="icon-home"></i>
                </div>
                <p class="weui_grid_label">
                    首页
                </p>
            </a>
            <a href="/intro" class="weui_grid">
                <div class="weui_grid_icon two">
                </div>
                <p class="weui_grid_label">
                    协会简介
                </p>
            </a>
            <a href="#/toast" class="weui_grid">
                <div class="weui_grid_icon three">
                </div>
                <p class="weui_grid_label">
                    公告
                </p>
            </a>
            <a href="#/dialog" class="weui_grid">
                <div class="weui_grid_icon four">
                </div>
                <p class="weui_grid_label">
                    行业要闻
                </p>
            </a>
            <a href="/login" class="weui_grid">
                <div class="weui_grid_icon five">
                </div>
                <p class="weui_grid_label">
                    会员登入
                </p>
            </a>
            <a href="#/msg" class="weui_grid">
                <div class="weui_grid_icon six">
                </div>
                <p class="weui_grid_label">
                    政策法规
                </p>
            </a>
            <a href="#/article" class="weui_grid">
                <div class="weui_grid_icon seven">
                </div>
                <p class="weui_grid_label">
                    保险知识
                </p>
            </a>
            <a href="#/actionsheet" class="weui_grid">
                <div class="weui_grid_icon eight">
                </div>
                <p class="weui_grid_label">
                    教育培训
                </p>
            </a>
            <a href="#/icons" class="weui_grid">
                <div class="weui_grid_icon nine">
                </div>
                <p class="weui_grid_label">
                    考试认证
                </p>
            </a>

        </div>
    </div>
</div>


<div class="homeblock">
    <div class="container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">协会简介</h3>
            </div>
            <div class="panel-body high">
                <div class="media">
                    <a class="media-left" href="#">
                        <img class="avatar_form" src="/images/" alt="...">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        ...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('footer') %>