<%- include('header') %>
<%- include('mobile/homeheader') %>
<div class="hd">
</div>
<div class="weui_grids">

    <a href="/home" class="weui_grid">
        <div class="weui_grid_icon one">
            <i class="icon-home"></i>
        </div>
        <p class="weui_grid_label">
            首页
        </p>
    </a>
    <a href="/intro" class="weui_grid">
        <div class="weui_grid_icon two">
        </div>
        <p class="weui_grid_label">
            协会简介
        </p>
    </a>
    <a href="#/toast" class="weui_grid">
        <div class="weui_grid_icon three">
        </div>
        <p class="weui_grid_label">
            公告
        </p>
    </a>
    <a href="#/dialog" class="weui_grid">
        <div class="weui_grid_icon four">
        </div>
        <p class="weui_grid_label">
            行业要闻
        </p>
    </a>
    <a href="/members" class="weui_grid">
        <div class="weui_grid_icon five">
        </div>
        <p class="weui_grid_label">
            会员管理
        </p>
    </a>
    <a href="#/msg" class="weui_grid">
        <div class="weui_grid_icon six">
        </div>
        <p class="weui_grid_label">
            政策法规
        </p>
    </a>
    <a href="#/article" class="weui_grid">
        <div class="weui_grid_icon seven">
        </div>
        <p class="weui_grid_label">
            保险知识
        </p>
    </a>
    <a href="#/actionsheet" class="weui_grid">
        <div class="weui_grid_icon eight">
        </div>
        <p class="weui_grid_label">
            教育培训
        </p>
    </a>
    <a href="#/icons" class="weui_grid">
        <div class="weui_grid_icon nine">
        </div>
        <p class="weui_grid_label">
            考试认证
        </p>
    </a>

</div>


<%- include('footer') %>