<%- include('header') %>
<div class="ui menu">
    <div class="item">
        <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>
    </div>
    <div class="right item">
        <div class="ui action input">
            <input type="text" placeholder="Navigate to...">
            <div class="ui button">Go</div>
        </div>
    </div>
</div>

<%- include('footer') %>